header{
    background-color: brown;
    height: 100px;
    font-family: var(--tm-tertiary-font, 'OSB', 'OSB-fallback', sans-serif);
      
}
body{
    background-color: black
}
.img_logo{
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 5px;
}
.camisa{
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-left: 40%;
}
nav{ 
  color:black;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

nav{
  
  display: inline;
}


table{
    padding: 0; 
    color: brown  ;
    padding-top: center;
    padding-bottom: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 450px;
    margin-right: 450px;
    background-color: black;
    font-family: "Open Sans", sans-serif;
}
th{
    background-color: gray
}
.section2{
    width: 200px;
    height: 200px;
}

img{
    width: 25px;
    height: 17px;
}
section{
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px ;
   
    

   
}  
li{
    display: inline;

}
.logo{
    background-color: transparent;
    padding-top: center;
    padding-bottom: center;
    text-align: center;
    width: 100%;
    margin: auto;
    
}

.menu{ 
    color:black;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }
  
  .menu{
    
    display: inline;
  }
nav{
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
footer{
    background-color: transparent;
    border: 20px;
}


.text{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    
}
footer{
    color: brown;
    margin-top: 50px;
}