body{
    background-image: url(../img/soccer-corinthians-wallpaper-thumb.jpg);    
}
header{
    background-color: #696969
    padding: 3%;
}
.logo{
    background-color: gray
}
nav{
    background-color#696969
}
main{
    background-color:#696969
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    background-color:#696969
}
footer{
    background-color: #696969
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}
table{
    border-collapse: collapse;
    width: 80%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background-color: azure;
    color: black
    
}
h1{
    color: aliceblue;
}