body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.pinterest.com%2Fblogdageografia%2Fpapel-de-parede-preto-para-celular%2F&psig=AOvVaw3jU1U-H0KQpJMktl-7CuPZ&ust=1714577749700000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKjYw4Ci6oUDFQAAAAAdAAAAABAE)
}
header{
    background-color: #696969
    padding: 3%;
}
.logo{
    background-color: gray
}
nav{
    background-color#696969
}
main{
    background-color:#696969
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    background-color:#696969
}
footer{
    background-color: #696969
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}
table{
    border-collapse: collapse;
    width: 50%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background-color: azure;
    color: black
}
img{
    margin-left: auto;
    margin-right: auto;
}
h2{
    color: aliceblue;
}