body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fbr.pinterest.com%2Fpin%2F172544229461329130%2F&psig=AOvVaw09Bz2vIMDhK9HawpwHmBzp&ust=1714678683406000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMDshIGa7YUDFQAAAAAdAAAAABAE);    
}
header{
    background-color: #696969
    padding: 3%;
}
.logo{
    background-color: gray
}
nav{
    background-color#696969
}
main{
    background-color:#696969
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    background-color:#696969
}
footer{
    background-color: #696969
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}
table{
    border-collapse: collapse;
    width: 50%;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    background-color: azure;
    color: black
}
img{
    margin-left: auto;
    margin-right: auto;
}
h1{
    color: aliceblue;
}